.jumbotron {
    text-align: center;
    background-color: blanchedalmond;
    font-size: 30px;
    font-weight: bolder;
}

.test {
    /* border: black 1px solid; */
    height: 800px;
}

.city-search {
    margin-left: 1rem;
    background-color: rgb(243, 243, 243);
}

.city-box {
    height: 200px;
}

.card {
    width: 7rem;
    background-color: rgb(147, 185, 255);
    margin-left: 2px;
}

#city-search-box {
    margin-left: 1rem;
    width: 70%;
}

.recent-search {
    background-color: rgb(216, 216, 216);
    padding-left: 1rem;
    border: gray solid 1px;
}

#current-city {
    margin-left: 1rem;
    padding-top: 1.5rem;
}