.jumbotron {
    text-align: center;
    background-color: blanchedalmond;
    font-size: 30px;
    font-weight: bolder;
}

.city-search {
    margin-left: 1rem;
    background-color: rgb(243, 243, 243);
}

.city-box {
    height: 200px;
}

.card {
    width: 7rem;
    background-color: rgb(213, 228, 255);
    margin-left: 2px;
}

.card-header {
    background-color: rgb(179, 205, 255);
}

#city-search-box {
    margin-left: 1rem;
    width: 70%;
}

.recent-search {
    background-color: white;
    padding-left: 1rem;
    padding-top: 0.75rem;
    width: 80%;
    height: 3rem;
}

#current-city {
    margin-left: 1rem;
    padding-top: 1.5rem;
}