.jumbotron {
    text-align: center;
    background-image: url("https://cdn5.vectorstock.com/i/1000x1000/15/44/lumberjack-plaid-pattern-in-red-white-and-blue-vector-20041544.jpg");
}

.nav {
    font-weight: bold;
    color: blue;
}


/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

#map {
    height: 100%;
}


/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#floating-panel {
    width: 440px;
}

#place-id {
    width: 250px;
}

.inner {
    margin-left: 1rem;
}

.hover-image {
    width: 400px;
    height: 400px;
    /* display: none; */
    outline: none;
}

.container {
    margin-left: 1rem;
    margin-top: 1rem;
}

#representative-outputs {
    border: black 1px solid;
    width: 70%;
    background-color: rgb(213, 228, 255);
    margin: auto;
}

#picture-holder {
    height: 300px;
    width: 300px;
    margin: auto;
    outline: none;
}

form {
    margin: auto;
    text-align: center;
}

.republican {
    color: red;
}

.democrat {
    color: blue;
}