h1 {
    font-size: 36px;
}

.card {
    width: 220px;
    margin: auto;
    /* display: flex; */
    /* box-sizing: border-box; */
}

@media (min-width: 900px) {
    .cards-container {
        justify-content: space-between;
        display: flex;
    }
}

.cards-container {
    margin: auto;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-text {
    font-size: 12px;
}

.jumbotron {
    background-color: blanchedalmond;
}

.card-header {
    background-color: rgb(212, 196, 171);
}